.button-1{
  width:140px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 0;
}
.button-1 a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-1{
  width:140px;
  height:50px;
  top:-2px;
  right:-140px;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-1:hover .eff-1{
  right:0;
}
.button-1:hover a{
  color:#fff;
}
#nav-header {
    width: 100%;
    height:150px;
    color:black;
    text-align:center;
    background-color:aqua;
}

#nav-header h1 {
    margin:auto;
    line-height:51px;
    vertical-align:middle;
}

#posts{
  margin: 20px 0;
  display: flex;  
  flex-wrap: wrap;
}

header {
  height: 60px;
  width: 100%;
  padding: 5px 0px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  position: sticky;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
}

nav {
  padding: 10px 20px;
}

header div{
  padding-left: 20px;
  color: white;

}
nav a {
  text-decoration: none;
  padding: 5px 20px;
  transition: ease 0.5s;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.7s;
  text-decoration: none;
}


footer {
  min-height: 150px;
  padding: 50px 0px 0px 0px;
  text-align: center;
  background-color: black;
  padding: 40px 0px;
  color: #ffffff;
}

footer h1 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

footer h3 {
  color: white;
  padding-top: 30px;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0px;
}
footer a.privacy-policy {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  color: white;
}

